# Environment variables
# - HOST_NAME
# - USER_NAME

version: 2
jobs:
  build:
    docker:
      - image: circleci/php:7.1-browsers

    steps:
      - checkout

      - add_ssh_keys:
          fingerprints:
            - "6b:55:a2:da:18:73:92:18:88:db:23:c8:6f:fc:a9:76"

      - run:
          name: Start ssh-keyscan
          command: |
            ssh-keyscan -p 22 ${HOST_NAME} >> ~/.ssh/known_hosts

      - deploy:
          name: Start master deploy
          command: |
            if [ "${CIRCLE_BRANCH}" == "master" ]; then
                rsync -av --delete --rsh="ssh -p 22" --exclude='.git' --exclude='.circleci' ./ ${USER_NAME}@${HOST_NAME}:/home/umi/django-app/tigrashaAPI
            fi
